.search__widget, .sorting__widget select {
    padding: 7px 15px;
    border: 1px solid #fde4ef;
    border-radius: 5px;
    cursor: pointer;
}

.search__widget input{
    border: none;
}

.search__widget input:focus {
    outline:none;
}

@media only screen and (max-width:768px) {
    .search__widget, .sorting__widget select {
        width: 100% !important;
        font-size: .9rem;
    }
}

@media only screen and (max-width:425px) {
    .search__widget {
        margin-bottom: 10px;
    }
}