.footer {
    background: rgb(7, 58, 61);
    margin-top: 4rem;
}

.footer__logo {
    width: 100px;
    height: 100px;
}

.social__links, .customer__care, .top__searches, .my__account {
    background: transparent !important;
}

.cc, .ts, .ma, .nl {
    margin-top: 2rem;
}

.cc h5, .ts h5, .ma h5, .nl h5 {
    font-size: 19px;
    color: rgb(248, 245, 245);
    font-weight: 600;
}

.footer__c {
    background-color: rgb(6, 47, 49) ;
    font-weight: 600;
    color: rgb(219, 216, 216);
}

.footer__c p {
    color: rgb(219, 216, 216);
}

.logo__desc {
    font-size: 13px;
    color: rgb(219, 216, 216);
}

.social__links {
    margin-left: 18px;
}

.social__links a{
    padding: 7px 3px;
    text-decoration: none;
    color: white;
}

.social__links a i {
    padding: 5px;
    border: 1px solid;
    border-radius: 15px;
    
}

/* #fb, #ig, #github, #yt, #twitter {
    background-color: rgba(23, 127, 127, 0.779) ;
} */

.social__links a:hover {
    color: white;
}

#fb{
    background-color: #4267B2;
}

#ig{
    background-color: #E1306C;
}

#github {
    background-color: #171515 ;
}

#yt {
    background-color: #FF0000;
}

#twitter {
    background-color: #1DA1F2;
}

.customer__care, .top__searches, .my__account {
    margin-top: 10px;
    padding-left: 0;
}

.customer__care a, .top__searches a, .my__account a {
    text-decoration: none;
    color: rgb(219, 216, 216); 
    transition: .2s;
}

.customer__care a:hover, .top__searches a:hover, .my__account a:hover {
    color: black;
}

.my__account {
    text-decoration: none;
}

.newsletter {
    padding: 7px ;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none; 
}

.newsletter input:focus {
    outline: none;
}

.newsletter span {
    background: rgb(22, 128, 128);
    padding: 7px;
    cursor: pointer;
    border-radius: 15%;
}

.newsletter span i {
    color: #fff;
}

.newsletter input::placeholder {
    color: rgb(219, 216, 216);
}

.newsletter__desc {
    color: rgb(219, 216, 216);
}

@media only screen and (max-width:360px) {
    .footer__c {
        font-size: .6rem;
    }

    .footer__row {
        justify-content: center;
    }

    .cc h5, .ts h5, .ma h5, .nl h5 {
        font-size: .9rem;

    }

    .newsletter input {
        font-size: .8rem;
    }

    
}