.footer {
    background: rgb(226, 253, 255);
    
}

.footer__logo {
    width: 100px;
    height: 100px;
    background: rgb(214, 238, 240);

}

.social__links, .customer__care, .top__searches, .my__account {
    background: transparent !important;
}

.cc, .ts, .ma, .nl {
    margin-top: 2rem;
}

.cc h5, .ts h5, .ma h5, .nl h5 {
    font-size: 19px;
}

.footer__c {
    background-color: rgb(214, 238, 240) ;
}

.logo__desc {
    font-size: 13px;
    color: #777;
}

.social__links {
    margin-left: 18px;
}

.social__links a{
    padding: 7px 3px;
    text-decoration: none;
    color: white;
}

.social__links a i {
    padding: 5px;
    border: 1px solid;
    border-radius: 15px;
    
}

#fb, #ig, #github, #yt, #twitter {
    background-color: rgba(23, 127, 127, 0.779) ;
}

.social__links a:hover {
    color: white;
}

#fb:hover {
    background-color: #4267B2;
}

#ig:hover {
    background-color: #E1306C;
}

#github:hover {
    background-color: #171515 ;
}

#yt:hover {
    background-color: #FF0000;
}

#twitter:hover {
    background-color: #1DA1F2;
}

.customer__care, .top__searches, .my__account {
    margin-top: 10px;
    padding-left: 0;
}

.customer__care a, .top__searches a, .my__account a {
    text-decoration: none;
    color: #777;
    
}

.customer__care a:hover, .top__searches a:hover, .my__account a:hover {
    color: black;
}

.my__account {

    text-decoration: none;
}

.newsletter {
    padding: 7px ;
    border: 1px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.newsletter input:focus {
    outline: none;
}

.newsletter span {
    background: rgb(22, 128, 128);
    padding: 7px;
    cursor: pointer;
    border-radius: 15%;
}

.newsletter span i {
    color: #fff;
}

.newsletter input::placeholder {
    color: #333;
}

.newsletter__desc {
    color: #777;
}

.footer__c {
    font-weight: 600;
}

@media only screen and (max-width:360px) {
    .footer__c {
        font-size: .7rem;
    }

    .footer__row {
        justify-content: center;
    }

    .cc h5, .ts h5, .ma h5, .nl h5 {
        font-size: .9rem;

    }

    .newsletter input {
        font-size: .8rem;
    }

    
}



/* 
@media only screen and (max-width:576px) {
   .cc, .ts, .ma {
    font-size: .8rem;
   }

   .cc h5, .ts h5, .ma h5 {
    font-size: .8rem;
   }

   .nl {
    margin-bottom: 20px;
    font-size: 0.8rem;
   }
}

@media only screen and (max-width:1199px) {
    .footer {
        margin-top: 4rem;
    }

    

    
}


@media only screen and (max-width:991px) {
    .footer__logo {
        padding-right: 10px;
    }

    .ma, .nl {
        margin-top: 0;
        margin-bottom: 10px;
    }

}

@media only screen and (max-width:767px) {
    .ts {
        margin-top: 0;
    }
}

@media only screen and (max-width:360px) {
    .cc, .ts, .ma {
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
       }
    
       .cc h5, .ts h5, .ma h5 {
        justify-content: center;
       }
    
} */