.header{
    width: 100%;
    line-height: 80px;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow:  2px 2px rgba(0, 0, 0, 0.176);
  
}

.logo {
    text-align: center;
}

.logo img {
    width: 80px;
    object-fit: contain;
    
    
}

.logo h5 {
    font-size: 1rem;
    font-weight: 600;
    opacity: 70%;
    color: darkcyan;
    margin-top: -10px;
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}

.menu a {
    font-weight: 600;
    font-style: 1rem;
    color: #212245;
    transition: .3s;
}

.menu a:hover {
    color: rgb(22, 128, 128);
}

.active__menu {
    color: rgb(22, 128, 128)!important;
}

.cart__icon i, 
.user i, 
.mobile__menu i {
    font-size: 1.3rem;
    color: #212245;
    cursor: pointer;
}

.cart__icon {
    position: relative;
}

.cart__badge {
    position: absolute;
    color: white;
   
    background: red;
    top: 20px;
    right: -13px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    font-size: 0.7rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
}



.mobile__menu {
    display: none;
    font-weight: 600;
    margin-top: 5px;
}

.header__shrink {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 15px -5px #fde4e4;
    background: #fff;
    z-index: 99999;
    
}

@media only screen and (max-width:992px){
    .logo img{
        width: 75px;
    }

    .logo h5 {
        font-size: 0.8rem;
        margin-top: -15px;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: #21224566;
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 20px;
        z-index: 100;
    }

    .menu a{
        font-size: 1rem;
    }

    .mobile__menu {
        display: block;
    }

    .cart__icon i, .user i, .mobile__menu {
        font-style: 1rem;
    }

    .show__menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 50px;
        line-height: 50px;
           
    }

    .logo img {
        width: 45px;
        
    }

    .logo h5 {
        margin-top: 0px;
    }

    .nav__right {
        margin-left: 20px;
    }

    .cart__badge {
        margin-top: -15px;
    }
   
}