.single__product-content {
    padding-left: 50px;
}

.single__product-content p{
    text-align: left;
}

.product__price {
    font-weight: 600;
    font-size: 1.2rem;
    color: #212245;
    text-align: center;
    display: flex;
    align-items: center;
}

.product__main-img {
    border: 1px solid rgba(73, 170, 170, 0.383) ;
    border-radius: 5px;
    padding: 20px;
    
}

.img__item {
    margin-bottom: 18px;
    border: 1px solid rgba(73, 170, 170, 0.383) ;
    border-radius: 5px;
    padding: 10px 10px 10px 45px;
}

.img__item img{
    cursor: pointer;
    
}

.product__price span {
    font-size: 1.5rem;
    padding-left: 10px;
    color: rgb(12, 93, 93);
}

.category {
    font-weight: 600;
    color: #212245;
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.category span {
    padding: 1px 7px;
    background: rgba(94, 193, 193, 0.463);
    color: #212245;
    border-radius: 5px;
}

.addToCart__btn {
    
    border: none;
    padding: 7px 25px;
    background: rgb(12, 93, 93);
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: 0.4s;
    
}

.addToCart__btn:hover {
    transform: scale(1.1);
}

.tabs {
    border-bottom: 1px solid #fde4e4;
}

.tabs h6 {
    cursor: pointer;
}

.tab__active {
    color: rgb(12, 93, 93);
}

.tab__content {
    padding: 30px 0px;
}

.tab__content p{
    line-height: 30px;
    color: #212245a4;
}

.form {
    width: 60%;
    margin: auto;
    background: rgba(94, 193, 193, 0.115) ;
    padding: 20px;
    border-radius: 5px;
}

.form__group {
    margin-bottom: 20px;
}

.form__group input, .form__group textarea {
    width: 100%;
    background: transparent;
    padding: 7px 20px;
    border: none;
    border-bottom: 1px solid #2122456a;
}

.form__group input, .form__group textarea:focus {
    outline: none;
}

.user__name {
    font-weight: 600;
    color: #212245;
}

.user__email{
    font-size: .8rem;
}

.feedback__text {
    color: #212245b6;
}

@media only screen and (max-width:768px) {
    .product__title {
        font-size: 1.2rem;
    }

    .product__price, .product__price span {
        font-size: 1rem;
    }

    .img__item {
        margin-bottom: 30px;
        padding: 5px 5px 5px 20px;
    }

    .category, .category span {
        font-size: 0.8rem !important;
    }

    .tabs {
        margin-top: 30px;
    }

    .tabs h6 {
        font-size: .9rem;
    }

    .tab__content p, .user__name, .feedback__text{
        font-size: .8rem;
    }

    .user__email {
        font-size: .8rem;
    }

    .form {
        width: 100% !important;
        margin-top: 50px;
    }

    .form__group input::placeholder, .form__group textarea::placeholder {
        font-size: .8rem;
    }

    .related__product-title {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:576px) {
    .product__images {
        display: flex;
        flex-direction: row;
        
    }

    .product__main-img {
        margin-bottom: 20px;
    }

    .img__item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .single__product-content {
        padding-left: 10px;
    }
}
